@charset "UTF-8";
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?53082872");
  src: url("../fonts/icons.eot?53082872#iefix") format("embedded-opentype"), url("../fonts/icons.woff?53082872") format("woff"), url("../fonts/icons.ttf?53082872") format("truetype"), url("../fonts/icons.svg?53082872#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "icons";
    src: url("../fonts/icons.svg?53082872#icons") format("svg"); } }
/* line 36, ../sass/icons.sass */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em; }

/* line 53, ../sass/icons.sass */
.icon-linkedin:before {
  content: "\e805"; }

/* line 55, ../sass/icons.sass */
.icon-twitter:before {
  content: "\e806"; }

/* line 57, ../sass/icons.sass */
.icon-git:before {
  content: "\e800"; }

/* line 59, ../sass/icons.sass */
.icon-right:before {
  content: "\e804"; }

/* line 61, ../sass/icons.sass */
.icon-left:before {
  content: "\e803"; }

/* line 63, ../sass/icons.sass */
.icon-code:before {
  content: "\e807"; }

/* line 65, ../sass/icons.sass */
.icon-apps:before {
  content: "\e808"; }

/* line 67, ../sass/icons.sass */
.icon-github:before {
  content: "\e801"; }

/* line 69, ../sass/icons.sass */
.icon-link:before {
  content: "\e802"; }

/* line 71, ../sass/icons.sass */
.icon-cancel:before {
  content: "\e809"; }

/* line 73, ../sass/icons.sass */
.icon-up:before {
  content: "\e80a"; }
