@import url(http://fonts.googleapis.com/css?family=Exo:700,700italic|Roboto:300,300italic,500,500italic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?53082872");
  src: url("../fonts/icons.eot?53082872#iefix") format("embedded-opentype"), url("../fonts/icons.woff?53082872") format("woff"), url("../fonts/icons.ttf?53082872") format("truetype"), url("../fonts/icons.svg?53082872#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "icons";
    src: url("../fonts/icons.svg?53082872#icons") format("svg"); } }
/* line 36, ../sass/icons.sass */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em; }

/* line 53, ../sass/icons.sass */
.icon-linkedin:before {
  content: "\e805"; }

/* line 55, ../sass/icons.sass */
.icon-twitter:before {
  content: "\e806"; }

/* line 57, ../sass/icons.sass */
.icon-git:before {
  content: "\e800"; }

/* line 59, ../sass/icons.sass */
.icon-right:before {
  content: "\e804"; }

/* line 61, ../sass/icons.sass */
.icon-left:before {
  content: "\e803"; }

/* line 63, ../sass/icons.sass */
.icon-code:before {
  content: "\e807"; }

/* line 65, ../sass/icons.sass */
.icon-apps:before {
  content: "\e808"; }

/* line 67, ../sass/icons.sass */
.icon-github:before {
  content: "\e801"; }

/* line 69, ../sass/icons.sass */
.icon-link:before {
  content: "\e802"; }

/* line 71, ../sass/icons.sass */
.icon-cancel:before {
  content: "\e809"; }

/* Typography */
/* line 61, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 125%; }

/* line 64, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 20px;
  line-height: 1.5em; }

@font-face {
  font-family: "Code-Bold";
  src: url("../fonts/CODE_Bold.eot?") format("eot"), url("../fonts/CODE_Bold.woff") format("woff"), url("../fonts/CODE_Bold.ttf") format("truetype"), url("../fonts/CODE_Bold.svg#Code-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Code-Light";
  src: url("../fonts/CODE_Light.eot?") format("eot"), url("../fonts/CODE_Light.woff") format("woff"), url("../fonts/CODE_Light.ttf") format("truetype"), url("../fonts/CODE_Light.svg#Code-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 24, ../sass/_style.sass */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em; }

/* line 29, ../sass/_style.sass */
b, em {
  font-weight: 500; }

/* line 32, ../sass/_style.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700; }

/* line 36, ../sass/_style.sass */
#name {
  font-size: 2.4em;
  line-height: 1.25em;
  font-family: "Code-Bold", sans-serif; }

/* line 40, ../sass/_style.sass */
#tagline {
  font-size: 1.4em;
  line-height: 2.14286em;
  line-height: 1.4em; }

/* line 44, ../sass/_style.sass */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  font-family: "Code-Light", sans-serif; }

/* line 48, ../sass/_style.sass */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  font-style: italic; }

/* line 51, ../sass/_style.sass */
h3 {
  font-size: 1.2em;
  line-height: 1.25em; }

/* Colors */
/* Media query variables */
/* Layout */
/* line 114, ../sass/_style.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 117, ../sass/_style.sass */
body {
  background: #333333; }

/* line 120, ../sass/_style.sass */
.wrapper {
  width: 100%;
  background: #dbdbdb; }
  /* line 123, ../sass/_style.sass */
  .wrapper > div {
    max-width: 40em;
    margin: 0 auto 2em auto;
    background: #dbdbdb;
    padding: 80px 1em; }

/* line 129, ../sass/_style.sass */
p {
  margin-bottom: 1.2em; }
  /* line 131, ../sass/_style.sass */
  p:last-child {
    margin-bottom: 0; }

/* line 134, ../sass/_style.sass */
a[href] {
  color: black;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.2s ease-out 0;
  -o-transition: all 0.2s ease-out 0;
  transition: all 0.2s ease-out 0; }

/* line 137, ../sass/_style.sass */
a[href] i, i, header > div#expando-wrapper h2 a[href].on {
  color: #4f4f4f;
  background: none; }

/* line 142, ../sass/_style.sass */
#projects div[data-picture] {
  text-align: center; }
  /* line 144, ../sass/_style.sass */
  #projects div[data-picture] > img {
    width: 100%;
    max-width: 100%;
    position: relative; }
/* line 148, ../sass/_style.sass */
#projects div.project-wrap {
  margin-bottom: 2em;
  background: #ececec;
  -webkit-backface-visibility: hidden; }
  /* line 152, ../sass/_style.sass */
  #projects div.project-wrap:nth-child(even) .project {
    background: #ececec; }
  /* line 154, ../sass/_style.sass */
  #projects div.project-wrap:nth-child(odd) .project {
    background: #ececec; }
  /* line 156, ../sass/_style.sass */
  #projects div.project-wrap:last-child {
    margin-bottom: 0; }
  /* line 158, ../sass/_style.sass */
  #projects div.project-wrap * {
    -webkit-backface-visibility: hidden; }

/* line 161, ../sass/_style.sass */
.text, .project-data {
  padding: 5px;
  color: #333333; }

/* line 165, ../sass/_style.sass */
.project-data {
  border-top: rgba(157, 157, 157, 0.5) 1px solid; }

/* line 168, ../sass/_style.sass */
header, footer {
  border: none;
  margin: 0; }
  /* line 171, ../sass/_style.sass */
  header > div, footer > div {
    margin: 0 auto;
    vertical-align: middle; }
    /* line 174, ../sass/_style.sass */
    header > div a[href], footer > div a[href] {
      color: #a3ff4d; }
      /* line 176, ../sass/_style.sass */
      header > div a[href].on, footer > div a[href].on {
        background: #a3ff4d;
        color: #333333; }
    /* line 179, ../sass/_style.sass */
    header > div p, footer > div p {
      color: #ececec;
      padding: 0 10px;
      margin: 0 auto 10px auto;
      max-width: 32em; }

/* line 185, ../sass/_style.sass */
header {
  padding: 10% 0;
  background: #333333; }
  /* line 188, ../sass/_style.sass */
  header.background-1 {
    background: url(../img/header-phone-1.jpg) no-repeat;
    background-size: 100%; }
  /* line 191, ../sass/_style.sass */
  header.background-2 {
    background: url(../img/header-phone-2.jpg) 0 70% no-repeat;
    background-size: 100%; }
  /* line 194, ../sass/_style.sass */
  header.background-3 {
    background: url(../img/header-phone-3.jpg) 0 25% no-repeat;
    background-size: 100%; }

/* line 198, ../sass/_style.sass */
footer {
  margin: 20px inherit; }
  /* line 200, ../sass/_style.sass */
  footer a[href] {
    color: #ececec;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0; }

/* line 203, ../sass/_style.sass */
.static-navbar {
  display: none; }

/* line 206, ../sass/_style.sass */
#name {
  text-shadow: 0px 0px 0.1em #ececec;
  color: #ececec; }

/* line 210, ../sass/_style.sass */
h1 {
  text-align: center;
  letter-spacing: 0.05em;
  color: #ececec;
  margin-bottom: 0.4em; }

/* line 216, ../sass/_style.sass */
.social {
  text-align: center; }
  /* line 218, ../sass/_style.sass */
  .social a {
    text-decoration: none; }
  /* line 220, ../sass/_style.sass */
  .social div[data-picture] {
    display: inline-block; }
    /* line 222, ../sass/_style.sass */
    .social div[data-picture] img {
      width: 32px;
      height: 32px; }

/* line 228, ../sass/_style.sass */
#skills .set {
  margin-bottom: 10px; }

/* line 231, ../sass/_style.sass */
.slide-out {
  display: none; }

/* line 235, ../sass/_style.sass */
.project-data h3 {
  margin-bottom: 0.2em; }
/* line 237, ../sass/_style.sass */
.project-data h4 {
  margin-top: 0.2em; }
/* line 239, ../sass/_style.sass */
.project-data ul {
  list-style: none; }
/* line 241, ../sass/_style.sass */
.project-data li {
  margin-top: 0.3em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  /* line 247, ../sass/_style.sass */
  .project-data li.code {
    white-space: normal; }
  /* line 250, ../sass/_style.sass */
  .project-data li:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    background: #4f4f4f;
    border-radius: 50%;
    color: #ececec;
    padding: 0.1em 0.3em; }
  /* line 256, ../sass/_style.sass */
  .project-data li.git:before {
    content: "\e800"; }
  /* line 258, ../sass/_style.sass */
  .project-data li.code:before {
    content: "\e807"; }
  /* line 260, ../sass/_style.sass */
  .project-data li.link:before {
    content: "\e802"; }

/* Hiding and displaying elements with media queries */
@media screen and (max-width: 568px) {
  /* line 264, ../sass/_style.sass */
  .hidden-phone {
    display: none !important; } }

@media screen and (min-width: 569px) and (max-width: 1024px) {
  /* line 268, ../sass/_style.sass */
  .hidden-tablet {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  /* line 272, ../sass/_style.sass */
  .hidden-desktop {
    display: none !important; } }

/* Navbar breakpoint */
@media screen and (min-width: 823px) {
  /* line 279, ../sass/_style.sass */
  .static-navbar {
    display: block;
    position: fixed;
    top: 0.5em;
    z-index: 200;
    width: 100%;
    color: #ececec; } }
/* Tablet */
@media screen and (min-width: 768px) {
  /* line 290, ../sass/_style.sass */
  .nav-list-wrapper {
    overflow: hidden;
    *zoom: 1;
    background: rgba(0, 0, 0, 0.7); }

  /* line 293, ../sass/_style.sass */
  .nav-list li {
    display: inline-block;
    float: left;
    font-family: "Code-Bold", sans-serif; }
    /* line 297, ../sass/_style.sass */
    .nav-list li a {
      display: block;
      padding: 1em;
      color: #ececec;
      text-decoration: none; }
      /* line 302, ../sass/_style.sass */
      .nav-list li a:hover, .nav-list li a.on {
        background: #dbdbdb;
        color: #333333; }
    /* line 305, ../sass/_style.sass */
    .nav-list li a i {
      padding: 0;
      color: #ececec; }
    /* line 308, ../sass/_style.sass */
    .nav-list li a:hover i {
      color: #333333; }
    /* line 311, ../sass/_style.sass */
    .nav-list li i[class=icon-github] {
      font-size: 1.2em;
      line-height: 1.25em; }
    /* line 314, ../sass/_style.sass */
    .nav-list li a[href="http://github.com/raddevon"] {
      padding: 0.95em 0.95em; }

  /* line 316, ../sass/_style.sass */
  .resume {
    float: left; }
    /* line 318, ../sass/_style.sass */
    .resume li {
      border-right: rgba(255, 255, 255, 0.3) 1px solid; }

  /* line 320, ../sass/_style.sass */
  .outside-links {
    float: right; }
    /* line 322, ../sass/_style.sass */
    .outside-links li {
      border-left: rgba(255, 255, 255, 0.3) 1px solid; } }
/* Larger than phone */
@media screen and (min-width: 569px) {
  /* line 328, ../sass/_style.sass */
  #name {
    font-size: 4em;
    line-height: 1.125em; }

  /* line 331, ../sass/_style.sass */
  #tagline {
    font-size: 2.4em;
    line-height: 1.25em; }

  /* line 334, ../sass/_style.sass */
  h1 {
    font-size: 3.2em;
    line-height: 1.40625em; }

  /* line 337, ../sass/_style.sass */
  header {
    min-height: 65%;
    margin-bottom: 5%;
    padding: 20% 0 8% 0;
    background: #333333; }
    /* line 342, ../sass/_style.sass */
    header.background-1 {
      background: url(../img/header-tablet-1.jpg) no-repeat;
      background-size: 100%; }
    /* line 345, ../sass/_style.sass */
    header.background-2 {
      background: url(../img/header-tablet-2.jpg) bottom no-repeat;
      background-size: 100%; }
    /* line 348, ../sass/_style.sass */
    header.background-3 {
      background: url(../img/header-tablet-3.jpg) no-repeat;
      background-size: 100%; }

  /* line 352, ../sass/_style.sass */
  footer {
    margin: 4em; }

  /* line 355, ../sass/_style.sass */
  header p, footer p {
    text-align: justify; }

  /* line 358, ../sass/_style.sass */
  .text, .project-data {
    padding: 10px;
    min-width: 15em; }

  /* line 362, ../sass/_style.sass */
  .project-data li {
    -ms-text-overflow: clip;
    text-overflow: clip; } }
/* Desktop-only styles */
@media screen and (min-width: 1025px) {
  /* line 369, ../sass/_style.sass */
  #name {
    font-size: 4.8em;
    line-height: 1.25em; }

  /* line 372, ../sass/_style.sass */
  header {
    min-height: 95%;
    margin-bottom: 5%;
    padding: 40% 0 30% 0;
    min-height: 95vh;
    margin-bottom: 2em;
    padding: 40vh 0 30vh 0; }
    /* line 379, ../sass/_style.sass */
    header.background-1 {
      background: url(../img/header-1.jpg) center center fixed no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    /* line 382, ../sass/_style.sass */
    header.background-2 {
      background: url(../img/header-2.jpg) center center fixed no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    /* line 385, ../sass/_style.sass */
    header.background-3 {
      background: url(../img/header-3.jpg) center center fixed no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }

  /* line 389, ../sass/_style.sass */
  p a[href] {
    color: black;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0; }
    /* line 100, ../sass/_style.sass */
    p a[href]:hover {
      background: white;
      color: black; }

  /* line 392, ../sass/_style.sass */
  footer p a[href] {
    color: #ececec;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0; }
    /* line 109, ../sass/_style.sass */
    footer p a[href]:hover {
      background: white;
      color: black; }

  /* line 395, ../sass/_style.sass */
  #projects {
    width: 100%;
    overflow-x: hidden; }

  /* line 399, ../sass/_style.sass */
  div.project-wrap {
    position: relative; }
    /* line 401, ../sass/_style.sass */
    div.project-wrap:nth-child(even) .project {
      position: relative;
      left: -66%; }

  /* line 405, ../sass/_style.sass */
  div.project {
    display: table;
    width: 166.66667%; }
    /* line 408, ../sass/_style.sass */
    div.project .row {
      display: table-row; }
      /* line 410, ../sass/_style.sass */
      div.project .row > div {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        left: 0; }
    /* line 415, ../sass/_style.sass */
    div.project [data-picture] {
      width: 40%; }
      /* line 417, ../sass/_style.sass */
      div.project [data-picture]:nth-child(even) {
        text-align: right; }
      /* line 419, ../sass/_style.sass */
      div.project [data-picture] img {
        margin-bottom: -7px; }

  /* line 422, ../sass/_style.sass */
  .text {
    padding: 20px;
    width: 20%; }

  /* line 426, ../sass/_style.sass */
  .project-data {
    padding: 20px;
    width: 40%;
    border: none;
    text-align: center; }
    /* line 431, ../sass/_style.sass */
    .project-data > div {
      text-align: left;
      display: inline-block; }

  /* line 435, ../sass/_style.sass */
  .collapse {
    position: absolute;
    left: -45px; }

  /* line 439, ../sass/_style.sass */
  div.project .row > .slider-control {
    position: relative;
    height: 2em;
    font-size: 1.5em;
    line-height: 2em;
    display: none;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0; }
    /* line 445, ../sass/_style.sass */
    div.project .row > .slider-control:hover {
      background: rgba(0, 0, 0, 0.1);
      cursor: hand;
      cursor: pointer; }

  /* line 450, ../sass/_style.sass */
  .slide-out {
    display: table-cell; } }
