@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Exo:700,700italic|Roboto:300,300italic,500,500italic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?53082872");
  src: url("../fonts/icons.eot?53082872#iefix") format("embedded-opentype"), url("../fonts/icons.woff?53082872") format("woff"), url("../fonts/icons.ttf?53082872") format("truetype"), url("../fonts/icons.svg?53082872#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "icons";
    src: url("../font/icons.svg?53082872#icons") format("svg"); } }
/* line 36, ../sass/icons.sass */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em; }

/* line 53, ../sass/icons.sass */
.icon-git:before {
  content: "\67"; }

/* line 55, ../sass/icons.sass */
.icon-up:before {
  content: "\25b4"; }

/* line 57, ../sass/icons.sass */
.icon-right:before {
  content: "\25b8"; }

/* line 59, ../sass/icons.sass */
.icon-down:before {
  content: "\25be"; }

/* line 61, ../sass/icons.sass */
.icon-left:before {
  content: "\25c2"; }

/* line 63, ../sass/icons.sass */
.icon-close:before {
  content: "\274e"; }

/* line 65, ../sass/icons.sass */
.icon-code:before {
  content: "\e714"; }

/* line 67, ../sass/icons.sass */
.icon-link:before {
  content: "🔗"; }

/* Typography */
/* line 61, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 125%; }

/* line 64, ../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 20px;
  line-height: 1.5em; }

@font-face {
  font-family: "Code-Bold";
  src: url("../fonts/CODE_Bold.eot?") format("eot"), url("../fonts/CODE_Bold.woff") format("woff"), url("../fonts/CODE_Bold.ttf") format("truetype"), url("../fonts/CODE_Bold.svg#Code-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 16, ../sass/_style.sass */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em; }

/* line 21, ../sass/_style.sass */
b, em {
  font-weight: 500; }

/* line 24, ../sass/_style.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700; }

/* line 28, ../sass/_style.sass */
#name {
  font-size: 2.4em;
  line-height: 1.25em;
  font-family: "Code-Bold", sans-serif; }

/* line 31, ../sass/_style.sass */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  font-style: italic; }

/* line 34, ../sass/_style.sass */
h3 {
  font-size: 1.2em;
  line-height: 1.25em; }

/* Colors */
/* Media query variables */
/* Layout */
/* line 83, ../sass/_style.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 86, ../sass/_style.sass */
body {
  background: #4f4f4f; }

/* line 89, ../sass/_style.sass */
p {
  margin-bottom: 1.2em; }
  /* line 91, ../sass/_style.sass */
  p:last-child {
    margin-bottom: 0; }

/* line 94, ../sass/_style.sass */
a[href] {
  color: black;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.2s ease-out 0;
  -o-transition: all 0.2s ease-out 0;
  transition: all 0.2s ease-out 0; }

/* line 97, ../sass/_style.sass */
a[href] i, i, header > div#expando-wrapper h2 a[href].on {
  color: #4f4f4f;
  background: none; }

/* line 102, ../sass/_style.sass */
#projects div[data-picture] {
  text-align: center; }
  /* line 104, ../sass/_style.sass */
  #projects div[data-picture] > img {
    width: 100%;
    max-width: 100%;
    position: relative; }
/* line 108, ../sass/_style.sass */
#projects div.project-wrap {
  margin-bottom: 2em;
  background: #a3ff4d;
  -webkit-backface-visibility: hidden; }
  /* line 112, ../sass/_style.sass */
  #projects div.project-wrap:nth-child(even) .project {
    background: #4dffe7; }
  /* line 114, ../sass/_style.sass */
  #projects div.project-wrap:nth-child(odd) .project {
    background: #a3ff4d; }
  /* line 116, ../sass/_style.sass */
  #projects div.project-wrap * {
    -webkit-backface-visibility: hidden; }

/* line 119, ../sass/_style.sass */
.text, .project-data {
  padding: 5px;
  color: #333333; }

/* line 123, ../sass/_style.sass */
.project-data {
  border-top: rgba(157, 157, 157, 0.5) 1px solid; }

/* line 126, ../sass/_style.sass */
header, footer {
  border: none;
  margin: 0; }
  /* line 129, ../sass/_style.sass */
  header > div, footer > div {
    margin: 0 auto;
    vertical-align: middle; }
    /* line 132, ../sass/_style.sass */
    header > div a[href], footer > div a[href] {
      color: #a3ff4d; }
      /* line 134, ../sass/_style.sass */
      header > div a[href].on, footer > div a[href].on {
        background: #a3ff4d;
        color: #333333;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px; }
    /* line 138, ../sass/_style.sass */
    header > div p, footer > div p {
      color: #ececec;
      padding: 0 10px;
      margin: 0 auto 10px auto;
      max-width: 32em; }

/* line 144, ../sass/_style.sass */
header {
  padding: 10% 0;
  background: #333333; }

/* line 148, ../sass/_style.sass */
footer {
  margin: 20px inherit; }

/* line 151, ../sass/_style.sass */
.static-navbar {
  display: none; }

/* line 154, ../sass/_style.sass */
h1 {
  text-align: center;
  letter-spacing: 0.05em;
  color: #ececec;
  margin-bottom: 0.4em;
  text-shadow: 0px 0px 0.1em white; }

/* line 161, ../sass/_style.sass */
#me p {
  color: #ececec;
  margin: 0 auto 1em auto;
  max-width: 32em;
  font-size: 0.9em;
  line-height: 1.66667em; }

/* line 167, ../sass/_style.sass */
.social {
  text-align: center; }
  /* line 169, ../sass/_style.sass */
  .social a {
    text-decoration: none; }
  /* line 171, ../sass/_style.sass */
  .social div[data-picture] {
    display: inline-block; }
    /* line 173, ../sass/_style.sass */
    .social div[data-picture] img {
      width: 32px;
      height: 32px; }

/* line 177, ../sass/_style.sass */
#expando-wrapper {
  background: #4dffe7;
  color: #333333;
  max-width: 100%; }
  /* line 181, ../sass/_style.sass */
  #expando-wrapper p {
    color: #333333; }
    /* line 183, ../sass/_style.sass */
    #expando-wrapper p a[href], #expando-wrapper p li a[href] {
      color: black;
      text-decoration: underline;
      -webkit-transition: all 0.2s ease-out;
      -webkit-transition-delay: 0;
      -moz-transition: all 0.2s ease-out 0;
      -o-transition: all 0.2s ease-out 0;
      transition: all 0.2s ease-out 0; }
  /* line 185, ../sass/_style.sass */
  #expando-wrapper > div {
    margin: 10px auto;
    padding: 10px;
    max-width: 32em;
    position: relative; }
    /* line 190, ../sass/_style.sass */
    #expando-wrapper > div.expando-close {
      display: none;
      text-align: center;
      margin-bottom: -1em;
      font-size: 2.8em;
      line-height: 1.07143em; }
      /* line 195, ../sass/_style.sass */
      #expando-wrapper > div.expando-close a:hover {
        background: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none; }
      /* line 198, ../sass/_style.sass */
      #expando-wrapper > div.expando-close i {
        position: relative;
        top: -0.4em; }
    /* line 201, ../sass/_style.sass */
    #expando-wrapper > div ul {
      margin-left: 10px; }
  /* line 203, ../sass/_style.sass */
  #expando-wrapper a[href] i {
    color: #4f4f4f;
    text-decoration: none;
    margin-right: 5px;
    background: none;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
    /* line 209, ../sass/_style.sass */
    #expando-wrapper a[href] i:hover {
      background: none; }

/* line 213, ../sass/_style.sass */
#skills .set {
  margin-bottom: 10px; }
  /* line 215, ../sass/_style.sass */
  #skills .set:last-child {
    margin-bottom: 0; }

/* line 218, ../sass/_style.sass */
.slide-out {
  display: none; }

/* line 222, ../sass/_style.sass */
.project-data h3 {
  margin-bottom: 0.2em; }
/* line 224, ../sass/_style.sass */
.project-data h4 {
  margin-top: 0.2em; }
/* line 226, ../sass/_style.sass */
.project-data ul {
  list-style: none; }
/* line 228, ../sass/_style.sass */
.project-data li {
  margin-top: 0.3em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  /* line 234, ../sass/_style.sass */
  .project-data li.code {
    white-space: normal; }
  /* line 236, ../sass/_style.sass */
  .project-data li:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    background: #4f4f4f;
    border-radius: 50%;
    color: #ececec;
    padding: 0.1em 0.3em; }
  /* line 242, ../sass/_style.sass */
  .project-data li.git:before {
    content: "\67"; }
  /* line 244, ../sass/_style.sass */
  .project-data li.code:before {
    content: "\e714"; }
  /* line 246, ../sass/_style.sass */
  .project-data li.link:before {
    content: "🔗"; }

/* Hiding and displaying elements with media queries */
@media screen and (max-width: 480px) {
  /* line 250, ../sass/_style.sass */
  .hidden-phone {
    display: none !important; } }

@media screen and (min-width: 481px) and (max-width: 1024px) {
  /* line 254, ../sass/_style.sass */
  .hidden-tablet {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  /* line 258, ../sass/_style.sass */
  .hidden-desktop {
    display: none !important; } }

/* Tablets and larger screens */
@media screen and (min-width: 481px) {
  /* line 265, ../sass/_style.sass */
  .static-navbar {
    display: block;
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: #ececec;
    font-family: "Code-Bold", sans-serif; }
    /* line 274, ../sass/_style.sass */
    .static-navbar li {
      display: inline-block; }
    /* line 276, ../sass/_style.sass */
    .static-navbar .resume {
      float: left; }
      /* line 278, ../sass/_style.sass */
      .static-navbar .resume li {
        border-right: rgba(255, 255, 255, 0.3) 1px solid; }
    /* line 280, ../sass/_style.sass */
    .static-navbar .outside-links {
      float: right; }
      /* line 282, ../sass/_style.sass */
      .static-navbar .outside-links li {
        border-left: rgba(255, 255, 255, 0.3) 1px solid; }
    /* line 284, ../sass/_style.sass */
    .static-navbar a {
      display: block;
      padding: 1em;
      color: #ececec;
      text-decoration: none; }
      /* line 289, ../sass/_style.sass */
      .static-navbar a:hover {
        background: #a3ff4d;
        color: #333333; }

  /* line 293, ../sass/_style.sass */
  #name {
    font-size: 4.8em;
    line-height: 1.25em; }

  /* line 296, ../sass/_style.sass */
  #me p {
    font-size: 1.2em;
    line-height: 1.25em; }

  /* line 299, ../sass/_style.sass */
  header {
    min-height: 65%;
    margin-bottom: 5%;
    padding: 10% 0;
    background: #333333; }

  /* line 305, ../sass/_style.sass */
  header p, footer p {
    text-align: justify; }

  /* line 308, ../sass/_style.sass */
  .text, .project-data {
    padding: 10px;
    min-width: 15em; }

  /* line 312, ../sass/_style.sass */
  .project-data li {
    -ms-text-overflow: clip;
    text-overflow: clip; } }
/* Desktop-only styles */
@media screen and (min-width: 1025px) {
  /* line 319, ../sass/_style.sass */
  header {
    min-height: 95%;
    margin-bottom: 5%;
    padding: 30% 0;
    min-height: 95vh;
    margin-bottom: 2em;
    padding: 30vh 0; }
    /* line 326, ../sass/_style.sass */
    header.background-1 {
      background: url(../img/header-1.jpg) center center fixed no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    /* line 329, ../sass/_style.sass */
    header.background-2 {
      background: url(../img/header-2.jpg) center center fixed no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    /* line 332, ../sass/_style.sass */
    header.background-3 {
      background: url(../img/header-3.jpg) center center fixed no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }

  /* line 336, ../sass/_style.sass */
  p a[href] {
    color: black;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0; }
    /* line 76, ../sass/_style.sass */
    p a[href]:hover {
      background: #ececec;
      color: #333333;
      -webkit-transition: all 0.2s ease-out;
      -webkit-transition-delay: 0;
      -moz-transition: all 0.2s ease-out 0;
      -o-transition: all 0.2s ease-out 0;
      transition: all 0.2s ease-out 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }

  /* line 339, ../sass/_style.sass */
  #projects {
    width: 100%;
    overflow-x: hidden; }

  /* line 343, ../sass/_style.sass */
  div.project-wrap {
    position: relative; }
    /* line 345, ../sass/_style.sass */
    div.project-wrap:nth-child(even) .project {
      position: relative;
      left: -66%; }

  /* line 349, ../sass/_style.sass */
  div.project {
    display: table;
    width: 166.66667%; }
    /* line 352, ../sass/_style.sass */
    div.project .row {
      display: table-row; }
      /* line 354, ../sass/_style.sass */
      div.project .row > div {
        display: table-cell;
        vertical-align: middle;
        position: relative;
        left: 0; }
    /* line 359, ../sass/_style.sass */
    div.project [data-picture] {
      width: 40%; }
      /* line 361, ../sass/_style.sass */
      div.project [data-picture]:nth-child(even) {
        text-align: right; }
      /* line 363, ../sass/_style.sass */
      div.project [data-picture] img {
        margin-bottom: -7px; }

  /* line 366, ../sass/_style.sass */
  .text {
    padding: 20px;
    width: 20%; }

  /* line 370, ../sass/_style.sass */
  .project-data {
    padding: 20px;
    width: 40%;
    border: none;
    text-align: center; }
    /* line 375, ../sass/_style.sass */
    .project-data > div {
      text-align: left;
      display: inline-block; }

  /* line 380, ../sass/_style.sass */
  header #me a[href]:hover {
    background: #a3ff4d;
    color: #333333; }
  /* line 383, ../sass/_style.sass */
  header #me a[href].on {
    background: #a3ff4d;
    color: #333333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }

  /* line 388, ../sass/_style.sass */
  .collapse {
    position: absolute;
    left: -45px; }

  /* line 392, ../sass/_style.sass */
  div.project .row > .slider-control {
    position: relative;
    height: 2em;
    font-size: 1.5em;
    line-height: 2em;
    display: none;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0; }
    /* line 398, ../sass/_style.sass */
    div.project .row > .slider-control:hover {
      background: rgba(0, 0, 0, 0.1);
      cursor: hand;
      cursor: pointer; }

  /* line 403, ../sass/_style.sass */
  .slide-out {
    display: table-cell; } }
