@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Exo:700,700italic|Roboto:300,300italic,500,500italic);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?53082872");
  src: url("../fonts/icons.eot?53082872#iefix") format("embedded-opentype"), url("../fonts/icons.woff?53082872") format("woff"), url("../fonts/icons.ttf?53082872") format("truetype"), url("../fonts/icons.svg?53082872#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "icons";
    src: url("../fonts/icons.svg?53082872#icons") format("svg"); } }
/* line 36, ../sass/_icons.sass */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em; }

/* line 53, ../sass/_icons.sass */
.icon-linkedin:before {
  content: "\e805"; }

/* line 55, ../sass/_icons.sass */
.icon-twitter:before {
  content: "\e806"; }

/* line 57, ../sass/_icons.sass */
.icon-git:before {
  content: "\e800"; }

/* line 59, ../sass/_icons.sass */
.icon-right:before {
  content: "\e804"; }

/* line 61, ../sass/_icons.sass */
.icon-left:before {
  content: "\e803"; }

/* line 63, ../sass/_icons.sass */
.icon-code:before {
  content: "\e807"; }

/* line 65, ../sass/_icons.sass */
.icon-apps:before {
  content: "\e808"; }

/* line 67, ../sass/_icons.sass */
.icon-github:before {
  content: "\e801"; }

/* line 69, ../sass/_icons.sass */
.icon-link:before {
  content: "\e802"; }

/* line 71, ../sass/_icons.sass */
.icon-cancel:before {
  content: "\e809"; }

/* line 73, ../sass/_icons.sass */
.icon-up:before {
  content: "\e80a"; }

/*
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia */
/* line 6, ../sass/_prism.sass */
code[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* line 22, ../sass/_prism.sass */
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em; }

/* Code blocks */
/* line 44, ../sass/_prism.sass */
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #272822; }

/* Inline code */
/* line 49, ../sass/_prism.sass */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em; }

/* line 54, ../sass/_prism.sass */
.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: slategrey; }
/* line 56, ../sass/_prism.sass */
.token.punctuation {
  color: #f8f8f2; }

/* line 59, ../sass/_prism.sass */
.namespace {
  opacity: 0.7; }

/* line 63, ../sass/_prism.sass */
.token.property, .token.tag {
  color: #f92672; }
/* line 65, ../sass/_prism.sass */
.token.boolean, .token.number {
  color: #ae81ff; }
/* line 67, ../sass/_prism.sass */
.token.selector, .token.attr-name, .token.string {
  color: #a6e22e; }
/* line 69, ../sass/_prism.sass */
.token.operator, .token.entity, .token.url {
  color: #f8f8f2; }

/* line 72, ../sass/_prism.sass */
.language-css .token.string, .style .token.string {
  color: #f8f8f2; }

/* line 76, ../sass/_prism.sass */
.token.atrule, .token.attr-value {
  color: #e6db74; }
/* line 78, ../sass/_prism.sass */
.token.keyword {
  color: #66d9ef; }
/* line 80, ../sass/_prism.sass */
.token.regex {
  color: #fd971f; }
/* line 82, ../sass/_prism.sass */
.token.important {
  color: #fd971f;
  font-weight: bold; }
/* line 85, ../sass/_prism.sass */
.token.entity {
  cursor: help; }

/* line 88, ../sass/_prism.sass */
pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }
  /* line 92, ../sass/_prism.sass */
  pre.line-numbers > code {
    position: relative; }

/* line 95, ../sass/_prism.sass */
.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 110, ../sass/_prism.sass */
.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber; }
  /* line 114, ../sass/_prism.sass */
  .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999999;
    display: block;
    padding-right: 0.8em;
    text-align: right; }

/* Typography */
/* line 61, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 125%; }

/* line 64, ../../../../../../.rvm/gems/ruby-2.0.0-p195/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 20px;
  line-height: 1.5em; }

@font-face {
  font-family: "Code Pro";
  src: url("../fonts/Code_Pro_Light-webfont.eot");
  src: url("../fonts/Code_Pro_Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Code_Pro_Light-webfont.woff") format("woff"), url("../fonts/Code_Pro_Light-webfont.ttf") format("truetype"), url("../fonts/Code_Pro_Light-webfont.svg#CodeProLightRegular") format("svg");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: "Code Pro";
  src: url("../fonts/Code_Pro-webfont.eot");
  src: url("../fonts/Code_Pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Code_Pro-webfont.woff") format("woff"), url("../fonts/Code_Pro-webfont.ttf") format("truetype"), url("../fonts/Code_Pro-webfont.svg#CodeProRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 30, ../sass/_style.sass */
nav {
  font-family: "Code Pro", sans-serif;
  font-weight: normal; }

/* line 34, ../sass/_style.sass */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.02em; }

/* line 39, ../sass/_style.sass */
b, em {
  font-weight: 500; }

/* line 42, ../sass/_style.sass */
cite {
  font-style: italic; }

/* line 45, ../sass/_style.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700; }

/* line 49, ../sass/_style.sass */
#name {
  font-size: 1.2em;
  font-family: "Code Pro", sans-serif;
  font-weight: normal; }

/* line 54, ../sass/_style.sass */
#tagline {
  font-size: 0.7em;
  font-family: "Code Pro", sans-serif;
  line-height: 1.4em; }

/* line 59, ../sass/_style.sass */
#featured-heading {
  font-style: normal;
  font-size: 1.6em; }

/* line 63, ../sass/_style.sass */
h1, .h1 {
  font-size: 2em;
  line-height: 1.5em;
  font-family: "Code Pro", sans-serif;
  font-weight: 200; }

/* line 68, ../sass/_style.sass */
h2 {
  font-size: 1.6em;
  line-height: 1.875em;
  font-style: italic; }

/* line 72, ../sass/_style.sass */
h3 {
  font-size: 1.2em;
  line-height: 1.25em; }

/* line 75, ../sass/_style.sass */
#credits {
  font-size: 0.7em;
  line-height: 2.14286em;
  line-height: 1.4em; }

/* Colors */
/* Media query variables */
/* Mixins */
/* Layout */
/* line 145, ../sass/_style.sass */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 148, ../sass/_style.sass */
body {
  background: #333333;
  color: #333333; }

/* line 152, ../sass/_style.sass */
.wrapper {
  width: 100%;
  background: #dbdbdb;
  margin: 0 auto 4em auto; }
  /* line 156, ../sass/_style.sass */
  .wrapper:last-child {
    margin-bottom: 2em; }
  /* line 158, ../sass/_style.sass */
  .wrapper > div {
    max-width: 40em;
    padding: 1em;
    margin: auto; }

/* line 163, ../sass/_style.sass */
p {
  margin-bottom: 1.2em; }
  /* line 165, ../sass/_style.sass */
  p:last-child {
    margin-bottom: 0; }

/* line 168, ../sass/_style.sass */
a[href] {
  color: black;
  text-decoration: underline;
  -webkit-transition: all 0.2s ease-out;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.2s ease-out 0;
  -o-transition: all 0.2s ease-out 0;
  transition: all 0.2s ease-out 0; }

/* line 171, ../sass/_style.sass */
a[href] i, i {
  color: #4f4f4f;
  background: none; }

/* line 175, ../sass/_style.sass */
#featured-heading {
  margin: 0;
  color: #ececec; }

/* line 179, ../sass/_style.sass */
#featured-intro {
  color: #ececec;
  max-width: 40em;
  padding: 1em;
  margin: auto; }
  /* line 184, ../sass/_style.sass */
  #featured-intro a[href] {
    color: #ececec;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0; }

/* line 187, ../sass/_style.sass */
.project-wrap {
  width: 100%;
  position: relative;
  margin-bottom: 4em;
  background: #dbdbdb; }

/* line 193, ../sass/_style.sass */
.project-image {
  max-width: 95vw;
  max-height: 70vh;
  overflow-y: hidden;
  position: relative;
  margin: auto;
  padding: 1em; }
  /* line 200, ../sass/_style.sass */
  .project-image img {
    display: block;
    max-width: 100%;
    margin: auto; }

/* line 205, ../sass/_style.sass */
.text {
  padding: 0.2em;
  color: #333333;
  overflow: hidden;
  *zoom: 1; }
  /* line 209, ../sass/_style.sass */
  .text a {
    color: black;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0;
    text-decoration: none; }

/* line 213, ../sass/_style.sass */
.avatar {
  max-width: 40%;
  float: left;
  margin-right: 0.5em; }

/* line 217, ../sass/_style.sass */
.avatar + p {
  float: right;
  width: 80%; }

/* line 220, ../sass/_style.sass */
.avatar img {
  max-width: 100%; }

/* line 223, ../sass/_style.sass */
.quote-source {
  text-align: right;
  clear: both;
  font-style: italic; }

/* line 228, ../sass/_style.sass */
header, footer {
  border: none;
  margin: 0; }
  /* line 231, ../sass/_style.sass */
  header > div, footer > div {
    margin: 0 auto;
    vertical-align: middle; }
    /* line 234, ../sass/_style.sass */
    header > div a[href], footer > div a[href] {
      color: #a3ff4d; }
      /* line 236, ../sass/_style.sass */
      header > div a[href].on, footer > div a[href].on {
        background: #a3ff4d;
        color: #333333; }
    /* line 239, ../sass/_style.sass */
    header > div p, footer > div p {
      color: #ececec;
      padding: 0 10px;
      margin: 0 auto 10px auto;
      max-width: 40em;
      max-width: 40rem; }

/* line 246, ../sass/_style.sass */
header {
  padding: 5% 0;
  background: #333333; }
  /* line 249, ../sass/_style.sass */
  header.background-1 {
    background: url(../img/header-phone-1.jpg) no-repeat;
    background-size: 100%; }
  /* line 252, ../sass/_style.sass */
  header.background-2 {
    background: url(../img/header-phone-2.jpg) no-repeat;
    background-size: 100%; }
  /* line 255, ../sass/_style.sass */
  header.background-3 {
    background: url(../img/header-phone-3.jpg) no-repeat;
    background-size: 100%; }

/* line 259, ../sass/_style.sass */
footer {
  margin: 20px inherit; }
  /* line 261, ../sass/_style.sass */
  footer a[href] {
    color: #ececec;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0; }

/* line 264, ../sass/_style.sass */
#social-links {
  text-align: center; }
  /* line 266, ../sass/_style.sass */
  #social-links a {
    color: #ececec;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0;
    text-decoration: none; }

/* line 270, ../sass/_style.sass */
.thinkful-badge {
  display: block;
  margin: 1em auto; }

/* line 274, ../sass/_style.sass */
.static-navbar {
  display: none; }

/* line 277, ../sass/_style.sass */
#name {
  text-shadow: 0px 0px 0.1em #ececec;
  color: #ececec;
  display: block;
  margin-bottom: 0.4em; }

/* line 283, ../sass/_style.sass */
#tagline {
  display: block; }

/* line 286, ../sass/_style.sass */
h1, .h1 {
  text-align: center;
  letter-spacing: 0.05em;
  color: #ececec;
  margin-bottom: 0.4em; }

/* line 292, ../sass/_style.sass */
.social {
  text-align: center; }
  /* line 294, ../sass/_style.sass */
  .social a {
    text-decoration: none; }
  /* line 296, ../sass/_style.sass */
  .social div[data-picture] {
    display: inline-block; }
    /* line 298, ../sass/_style.sass */
    .social div[data-picture] img {
      width: 32px;
      height: 32px; }

/* line 302, ../sass/_style.sass */
#skills .set {
  margin-bottom: 10px; }

/* line 305, ../sass/_style.sass */
.slide-out {
  display: none; }

/* line 309, ../sass/_style.sass */
.project-data h3 {
  margin-bottom: 0.2em; }
/* line 311, ../sass/_style.sass */
.project-data h4 {
  margin-top: 0.2em; }
/* line 313, ../sass/_style.sass */
.project-data ul {
  list-style: none; }
/* line 315, ../sass/_style.sass */
.project-data li {
  margin-top: 0.3em;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  /* line 321, ../sass/_style.sass */
  .project-data li.code {
    white-space: normal; }
  /* line 324, ../sass/_style.sass */
  .project-data li:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    background: #4f4f4f;
    border-radius: 50%;
    color: #ececec;
    padding: 0.1em 0.3em; }
  /* line 330, ../sass/_style.sass */
  .project-data li.git:before {
    content: "\e800"; }
  /* line 332, ../sass/_style.sass */
  .project-data li.code:before {
    content: "\e807"; }
  /* line 334, ../sass/_style.sass */
  .project-data li.link:before {
    content: "\e802"; }

/* line 337, ../sass/_style.sass */
#credits p, #credits a {
  color: #9d9d9d; }

/* line 340, ../sass/_style.sass */
#contact {
  width: 100%; }

/* line 343, ../sass/_style.sass */
.typeform-widget {
  width: 100%;
  height: 7em;
  height: 7rem; }

/* Hiding and displaying elements with media queries */
@media screen and (max-width: 568px) {
  /* line 351, ../sass/_style.sass */
  .hidden-phone {
    display: none !important; } }

@media screen and (min-width: 569px) and (max-width: 1024px) {
  /* line 355, ../sass/_style.sass */
  .hidden-tablet {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  /* line 359, ../sass/_style.sass */
  .hidden-desktop {
    display: none !important; } }

/* Larger than phone */
@media screen and (min-width: 569px) {
  /* line 368, ../sass/_style.sass */
  #name {
    font-size: 1.25em; }

  /* line 371, ../sass/_style.sass */
  #tagline {
    font-size: 0.75em; }

  /* line 374, ../sass/_style.sass */
  #featured-heading {
    font-size: 2.7em; }

  /* line 377, ../sass/_style.sass */
  h1 {
    font-size: 3.2em;
    line-height: 1.40625em; }

  /* line 380, ../sass/_style.sass */
  header {
    min-height: 65%;
    margin-bottom: 5%;
    padding: 20% 0 8% 0;
    background: #333333; }
    /* line 385, ../sass/_style.sass */
    header.background-1 {
      background: url(../img/header-tablet-1.jpg) no-repeat;
      background-size: 100%; }
    /* line 388, ../sass/_style.sass */
    header.background-2 {
      background: url(../img/header-tablet-2.jpg) bottom no-repeat;
      background-size: 100%; }
    /* line 391, ../sass/_style.sass */
    header.background-3 {
      background: url(../img/header-tablet-3.jpg) no-repeat;
      background-size: 100%; }

  /* line 395, ../sass/_style.sass */
  footer {
    margin: 4em; }

  /* line 398, ../sass/_style.sass */
  header p, footer p {
    text-align: justify; }

  /* line 401, ../sass/_style.sass */
  .text, .project-data {
    padding: 10px;
    min-width: 15em; }

  /* line 405, ../sass/_style.sass */
  .project-data li {
    -ms-text-overflow: clip;
    text-overflow: clip; } }
/* Tablet widescreen breakpoint */
@media screen and (min-width: 1024px) {
  /* line 414, ../sass/_style.sass */
  .nav-list-wrapper li {
    font-size: 18px; } }
/* Tablet */
@media screen and (min-width: 768px) {
  /* Navbar display and styling */
  /* line 422, ../sass/_style.sass */
  .static-navbar {
    display: block;
    position: fixed;
    top: 0.5em;
    z-index: 200;
    width: 100%;
    color: #ececec; }
    /* line 429, ../sass/_style.sass */
    .static-navbar .k-nav-root {
      float: right; }
      /* line 431, ../sass/_style.sass */
      .static-navbar .k-nav-root li {
        border-left: rgba(255, 255, 255, 0.3) 1px solid; }

  /* line 433, ../sass/_style.sass */
  .nav-list-wrapper {
    overflow: hidden;
    *zoom: 1;
    background: rgba(0, 0, 0, 0.7); }
    /* line 436, ../sass/_style.sass */
    .nav-list-wrapper li {
      display: inline-block;
      float: left;
      font-size: 14px; }
      /* line 440, ../sass/_style.sass */
      .nav-list-wrapper li a {
        display: block;
        padding: 1em;
        color: #ececec;
        text-decoration: none;
        height: 4.23em; }
        /* line 446, ../sass/_style.sass */
        .nav-list-wrapper li a:hover, .nav-list-wrapper li a.on {
          background: #dbdbdb;
          color: #333333; }
      /* line 449, ../sass/_style.sass */
      .nav-list-wrapper li a i {
        padding: 0;
        color: #ececec;
        vertical-align: middle; }
      /* line 453, ../sass/_style.sass */
      .nav-list-wrapper li a:hover i {
        color: #333333; }

  /* line 456, ../sass/_style.sass */
  i[class=icon-github] {
    font-size: 1.2em;
    line-height: 1.25em; }

  /* line 459, ../sass/_style.sass */
  a[href="http://github.com/raddevon"] {
    padding: 0.95em 0.95em; }

  /* line 462, ../sass/_style.sass */
  i[class=icon-up] {
    font-size: 1.7em; }

  /* line 465, ../sass/_style.sass */
  a[href="#"] {
    padding: 0.78em 0.78em; }

  /* line 467, ../sass/_style.sass */
  .inside-links {
    float: left; }
    /* line 469, ../sass/_style.sass */
    .inside-links li {
      border-right: rgba(255, 255, 255, 0.3) 1px solid; }

  /* End navbar styling */
  /* line 474, ../sass/_style.sass */
  #featured-heading {
    margin: 0 auto 0 auto;
    padding: 80px 0; }

  /* line 477, ../sass/_style.sass */
  #featured-intro {
    padding: 1em;
    margin: -80px auto 3em auto; }

  /* line 480, ../sass/_style.sass */
  .wrapper > div {
    padding: 80px 1em; }

  /* line 483, ../sass/_style.sass */
  .avatar {
    max-width: 20%;
    float: left;
    margin-right: 1em;
    position: relative;
    top: 0.3em; }

  /* line 490, ../sass/_style.sass */
  h2 {
    font-size: 2em;
    line-height: 1.5em;
    font-style: italic; } }
/* Desktop-only styles */
@media screen and (min-width: 1025px) {
  /* line 499, ../sass/_style.sass */
  .nav-list-wrapper li {
    font-size: 20px; }
    /* line 501, ../sass/_style.sass */
    .nav-list-wrapper li a {
      height: 3.5em; }

  /* line 504, ../sass/_style.sass */
  i[class=icon-up] {
    position: relative;
    top: -0.15em; }

  /* line 508, ../sass/_style.sass */
  #name {
    font-size: 1.5em; }

  /* line 511, ../sass/_style.sass */
  #featured-heading {
    font-size: 3em; }

  /* line 514, ../sass/_style.sass */
  header {
    min-height: 95%;
    margin-bottom: 5%;
    padding: 40% 0 30% 0;
    min-height: 95vh;
    margin-bottom: 2em;
    padding: 40vh 0 30vh 0; }
    /* line 521, ../sass/_style.sass */
    header.background-1 {
      background: url(../img/header-1.jpg) center center fixed no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    /* line 524, ../sass/_style.sass */
    header.background-2 {
      background: url(../img/header-2.jpg) center center fixed no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    /* line 527, ../sass/_style.sass */
    header.background-3 {
      background: url(../img/header-3.jpg) center center fixed no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }

  /* line 531, ../sass/_style.sass */
  p a[href] {
    color: black;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0; }
    /* line 129, ../sass/_style.sass */
    p a[href]:hover {
      background: white;
      color: black; }

  /* line 534, ../sass/_style.sass */
  footer p a[href] {
    color: #ececec;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0; }
    /* line 138, ../sass/_style.sass */
    footer p a[href]:hover {
      background: white;
      color: black; }

  /* line 538, ../sass/_style.sass */
  #featured-intro a[href] {
    color: #ececec;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0; }
    /* line 138, ../sass/_style.sass */
    #featured-intro a[href]:hover {
      background: white;
      color: black; }

  /* line 541, ../sass/_style.sass */
  #projects {
    width: 100%;
    overflow-x: hidden; }

  /* line 545, ../sass/_style.sass */
  .text {
    padding: 1em;
    width: 40em;
    margin: auto; }
    /* line 549, ../sass/_style.sass */
    .text a {
      color: black;
      text-decoration: underline;
      -webkit-transition: all 0.2s ease-out;
      -webkit-transition-delay: 0;
      -moz-transition: all 0.2s ease-out 0;
      -o-transition: all 0.2s ease-out 0;
      transition: all 0.2s ease-out 0;
      text-decoration: none; }
      /* line 550, ../sass/_style.sass */
      .text a:after {
        content: "\00a0"; }
      /* line 129, ../sass/_style.sass */
      .text a:hover {
        background: white;
        color: black; }

  /* line 556, ../sass/_style.sass */
  #social-links a {
    color: #ececec;
    text-decoration: underline;
    -webkit-transition: all 0.2s ease-out;
    -webkit-transition-delay: 0;
    -moz-transition: all 0.2s ease-out 0;
    -o-transition: all 0.2s ease-out 0;
    transition: all 0.2s ease-out 0;
    text-decoration: none; }
    /* line 138, ../sass/_style.sass */
    #social-links a:hover {
      background: white;
      color: black; }

  /* line 560, ../sass/_style.sass */
  .typeform-widget {
    width: 100%;
    height: 20em;
    height: 20rem; } }
