////////////
/* Colors */
////////////

// Named
$dark-gray: #4f4f4f
$gray: #9d9d9d
$light-gray: #dbdbdb
$white: #fff
$near-white: #ececec
$black: #000
$near-black: lighten($black, 20%)
$cyan: #4DFFE7
$green: #A3FF4D

$darken: rgba(0, 0, 0, 0.4)
$very-darken: rgba(0, 0, 0, 0.7)
$lighten: rgba(255, 255, 255, 0.2)

// Semantic
$background-color: $near-black
$name-color: $near-white
$text-color: $near-black
$link: $black
$secondary-link: $green
$navbar-active: $light-gray
$row-color: $light-gray

////////////////
/* Typography */
////////////////
$base-font-size: 20px
$base-line-height: 30px
+establish-baseline

$text-width: 40em
$image-width: 60em

$nav-font: 'Code Pro', sans-serif
$name-font: 'Code Pro', sans-serif
$tagline-font: 'Code Pro', sans-serif
$heading-font: 'Code Pro', sans-serif
$meta-font: 'Code Pro', sans-serif
$project-heading-font: 'Exo', sans-serif
$body-font: 'Roboto', sans-serif

@font-face
    font-family: "Code Pro"
    src: url('../fonts/Code_Pro_Light-webfont.eot')
    src: url('../fonts/Code_Pro_Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Code_Pro_Light-webfont.woff') format('woff'), url('../fonts/Code_Pro_Light-webfont.ttf') format('truetype'), url('../fonts/Code_Pro_Light-webfont.svg#CodeProLightRegular') format('svg')
    font-weight: 200
    font-style: normal
@font-face
    font-family: "Code Pro"
    src: url('../fonts/Code_Pro-webfont.eot')
    src: url('../fonts/Code_Pro-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Code_Pro-webfont.woff') format('woff'), url('../fonts/Code_Pro-webfont.ttf') format('truetype'), url('../fonts/Code_Pro-webfont.svg#CodeProRegular') format('svg')
    font-weight: normal
    font-style: normal

nav
    font-family: $nav-font
    font-weight: normal

body
    font-family: $body-font
    font-weight: 300
    letter-spacing: 0.02em

b, strong
    font-weight: 500

em, cite
    font-style: italic

sup, sub
    font-size: 0.75em
    vertical-align: baseline
    line-height: 0
    position: relative

sup
    top: -0.5em

sub
    bottom: -0.25em

#{headings()}
    font-family: $project-heading-font
    font-weight: 700

#name
    font-size: 1.2em
    font-family: $name-font
    font-weight: normal

#tagline
    font-size: 0.6em
    font-family: $tagline-font
    line-height: 1.4em

.section-heading
    font-style: normal
    font-weight: 200
    font-size: 1.6em
    font-family: $heading-font

h1, .h1
    +adjust-font-size-to(40px)
    font-family: $heading-font
    font-weight: 200

h2, #content h1
    +adjust-font-size-to(32px)
    font-style: italic
    font-family: $project-heading-font
    color: $text-color
    letter-spacing: 0em
    line-height: 1.3em

#content h1
    margin-bottom: 0

h3
    +adjust-font-size-to(24px)

#credits
    +adjust-font-size-to(14px)
    line-height: 1.4em

///////////////////////////
/* Media query variables */
///////////////////////////
$phone-min: 320px
$phone-max: 568px
$tablet-min: 569px
$tablet: 768px
$tablet-max: 1024px
$desktop-min: 1025px
$large-screen-min: 1824px

////////////
/* Mixins */
////////////
=fade($property:all)
    +single-transition($property, 0.2s, ease-out, 0)

=primary-link($desktop: false)
    color: $link
    text-decoration: underline
    +fade
    @if $desktop
        &:hover
            background: $white
            color: $black

=secondary-link($desktop: false)
    color: $near-white
    text-decoration: underline
    +fade
    @if $desktop
        &:hover
            background: $white
            color: $black

////////////
/* Layout */
////////////
*
    +box-sizing(border-box)

body
    background: $background-color
    color: $text-color

.wrapper
    width: 100%
    background: $light-gray
    margin: 0 auto 1em auto
    &:last-child
        margin-bottom: 2em
    > div
        max-width: $text-width
        padding: 1em
        margin: auto

p
    margin-bottom: 1.2em
    &:last-child
        margin-bottom: 0

a[href]
    +primary-link

a[href] i, i
    color: $dark-gray
    background: none
    +fade

a[href]:active i
    background: none
    color: $white

h2 a[href]
    text-decoration: none
    &:after
        content: "\00a0"

#back a i
    +fade(color)
    background: $row-color
    font-size: 1.5em
    position: relative
    top: 0.1em

/* Navbar display and styling */
.static-navbar
    display: block
    position: fixed
    top: 0
    z-index: 200
    width: 100%
    color: $near-white
#main-nav
    width: 100%
    li
        border-right: rgba(255,255,255,0.3) 1px solid
.inside-links
    display: none
.nav-list-wrapper
    +clearfix
    background: $very-darken
    li
        display: inline-block
        float: left
        font-size: 14px
    a[href]
        display: block
        padding: 1em
        color: $near-white
        text-decoration: none
        &:hover, &.on
            background: $navbar-active
            color: $near-black
header
    position: relative
    top: 2.5em

// Clear the way for the header
#about-me + .section-heading
    margin-top: 2em
/* End navbar styling */

.section-heading
    margin: 0.4em 0 0 0
    color: $near-white

.section-intro
    color: $near-white
    max-width: $text-width
    padding: 1em
    margin: auto
    a[href]
        +secondary-link

section
    background: $light-gray

.project-wrap, #blog article, #content
    width: 100%
    position: relative
    background: $row-color
    +clearfix

.project-wrap, #blog article
    margin-bottom: 1em
    &:last-child
        margin-bottom: 0

#testimonials .project-wrap:last-child
    margin-bottom: 4em

#grid
    margin: 1em

.project
    margin-bottom: 1em

.project-image
    max-width: $image-width
    max-height: 400px
    max-height: 70vh
    overflow-y: hidden
    position: relative
    margin: auto
    padding: 1em
    img
        display: block
        max-width: 100%
        margin: auto
    &.full
        max-height: none

#back
    max-width: $image-width
    margin: 0 auto
    padding-top: 1em

.text
    padding: 0.2em
    max-width: $text-width
    color: $text-color
    +clearfix
    a
        +primary-link
        text-decoration: none
    h2
        text-align: center
    + .project-image
        padding-top: 0
    ul, ol
        margin: 0 0 1em 2em
    ul
        list-style-type: circle
    ol
        list-style-type: decimal

// Center images in blog posts
[class*='k-source-essay'] article img
    display: block
    margin: 1em auto

#testimonials h2
    text-align: left

.avatar
    height: auto
    max-width: 40%
    float: left
    margin-right: 0.5em
.avatar + p
    float: right
    width: 80%
.avatar img
    max-width: 100%

blockquote
    quotes: "\201C""\201D""\2018""\2019"
    &:before
        content: "\201C"
    &:after
        content: "\201D"
    &:before, &:after
        +fade
        font-family: $project-heading-font
        color: $darken
        font-size: 3em
        line-height: 0.1em
        vertical-align: -0.4em

.quote-source
    text-align: right
    clear: both
    font-style: italic

.meta
    font-size: 0.7em
    color: $dark-gray
    text-transform: uppercase
    font-family: $meta-font
    font-weight: 700
    sup
        font-size: 0.65em

header, footer
    border: none
    margin: 0
    > div
        margin: 0 auto
        vertical-align: middle
        a[href]
            color: $secondary-link
            &.on
                background: $secondary-link
                color: $text-color
        p
            color: $near-white
            padding: 0 10px
            margin: 0 auto 10px auto
            max-width: $text-width
            max-width: 40rem

#home-header
    height: auto
    padding: 5% 0
    background: $near-black
    &.background-1
        background: url(../img/header-phone-1.jpg) no-repeat
        background-size: 100%
    &.background-2
        background: url(../img/header-phone-2.jpg) no-repeat
        background-size: 100%
    &.background-3
        background: url(../img/header-phone-3.jpg) no-repeat
        background-size: 100%

#header-overlay
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    background: rgba($black, 0.3)
    z-index: 0

#me
    position: relative
    z-index: 1

footer
    margin: 20px inherit
    a[href]
        +secondary-link

#pagination
    text-align: center
    font-size: 1.5em
    padding: 1em
    letter-spacing: 0.5em
    a:hover, a:active
        background: none
    a:active i
        color: $white
    i
        color: $lighten
    a i
        color: $dark-gray

#social-links
    text-align: center
    font-size: 1.2em
    a
        color: $gray
        text-decoration: none
    li
        display: inline-block
        margin-right: 0.5em
        &:last-child
            margin-right: 0

.thinkful-badge
    display: block
    margin: 1em auto

.nav-list-wrapper li a.k-nav-current
    display: none

#name
    text-shadow: 0px 0px 0.1em $name-color
    color: $name-color
    display: block
    margin-bottom: 0.4em

#tagline
    display: block

h1, .h1
    text-align: center
    letter-spacing: 0.05em
    color: $name-color
    margin: 0.5em 0
header + h1
    margin-top: 2em
.k-source-essay
    h1, .h1
        text-align: left

.skillset
    margin-bottom: 1em
    &:last-child
        margin-bottom: 0

.slide-out
    display: none

#credits p, #credits a
    color: $gray

#contact
    width: 100%

.typeform-widget
    width: 100%
    height: 14em
    height: 14rem

///////////////////////////////////////////////////////
/* Hiding and displaying elements with media queries */
///////////////////////////////////////////////////////
.hidden-phone
    @media screen and (max-width: $phone-max)
        display: none !important

.hidden-tablet
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max)
        display: none !important

.hidden-desktop
    @media screen and (min-width: $desktop-min)
        display: none !important

///////////////////////
/* Larger than phone */
///////////////////////
@media screen and (min-width: $tablet-min)

    #name
        font-size: 1.25em

    #tagline
        font-size: 0.75em

    .section-heading
        font-size: 2.7em

    h1, .h1
        +adjust-font-size-to(64px)
        margin: 1em 0

    #home-header
        min-height: 65%
        margin-bottom: 5%
        padding: 20% 0 8% 0
        background: $near-black
        &.background-1
            background: url(../img/header-tablet-1.jpg) no-repeat
            background-size: 100%
        &.background-2
            background: url(../img/header-tablet-2.jpg) bottom no-repeat
            background-size: 100%
        &.background-3
            background: url(../img/header-tablet-3.jpg) no-repeat
            background-size: 100%

    footer
        margin: 4em

    header p, footer p
        text-align: justify

    .text, .project-data
        padding: 10px
        min-width: 15em

    .project-data li
        -ms-text-overflow: clip
        text-overflow: clip

//////////////////////////////////
/* Tablet widescreen breakpoint */
//////////////////////////////////
@media screen and (min-width: $tablet-max)

    .nav-list-wrapper li
        font-size: 18px

////////////
/* Tablet */
////////////
@media screen and (min-width: $tablet)
    /* Navbar display and styling */
    .static-navbar
        top: 0.5em
    #main-nav
        width: auto
        float: right
        li
            border-left: rgba(255,255,255,0.3) 1px solid
            border-right: none
    .nav-list-wrapper
        a[href]
            i
                padding: 0
                color: $near-white
                vertical-align: middle
            &:hover i
                color: $near-black
        // Up arrow's 'a' element needs less padding to keep the same overall height as the other navbar buttons
        a[href="#"]
            padding: 0.78em 0.78em
    // Larger to-the-top icon
    i[class=icon-up]
        font-size: 1.7em
    .inside-links
        display: block
        float: left
        li
            border-right: rgba(255,255,255,0.3) 1px solid

    // Reset the mobile styling
    #about-me + .section-heading
        margin-top: 0
    /* End navbar styling */

    header
        height: 7em
        top: 0
        -webkit-background-size: auto auto
        -o-background-size: auto auto
        background-size: auto auto

    // Making room for the navbar when using an anchor link
    .section-heading
        margin: 0 auto 0 auto
        padding: 80px 0
    .section-intro
        padding: 1em
        margin: -80px auto 3em auto

    .avatar
        max-width: 20%
        float: left
        margin-right: 1em

    h1
        margin-top: 0
    header + h1
        margin-top: 0

    h2, #content h1
        +adjust-font-size-to(40px)
        line-height: 1.3em
        font-style: italic

    #testimonials h2
        margin-bottom: 0.4em


    #social-links
        font-size: 2em
        margin-bottom: 1em
        li
            margin-right: 1em
        a
            i
                +fade
            &:hover i
                color: $near-white
                background: none

/////////////////////////
/* Desktop-only styles */
/////////////////////////
@media screen and (min-width: $desktop-min)

    .nav-list-wrapper li
        font-size: 20px
        a
            height: 3.5em
    // Correct back-to-top icon positioning
    i[class=icon-up]
        position: relative
        top: 0

    #name
        font-size: 1.5em

    .section-heading
        font-size: 3em

    #home-header
        min-height: 95%
        margin-bottom: 5%
        padding: 40% 0 30% 0
        min-height: 95vh
        margin-bottom: 2em
        padding: 40vh 0 30vh 0
        &.background-1
            background: url(../img/header-1.jpg) center center fixed no-repeat
            +background-size(cover)
        &.background-2
            background: url(../img/header-2.jpg) center center fixed no-repeat
            +background-size(cover)
        &.background-3
            background: url(../img/header-3.jpg) center center fixed no-repeat
            +background-size(cover)

    a[href]
        +primary-link(true)

    a[href]:hover i
        background: none
        color: $white

    p a[href]
        +primary-link(true)

    #social-links a[href]:hover
        color: $white
        background: none

    footer p a[href]
        +secondary-link(true)

    .section-intro
        a[href]
            +secondary-link(true)

    #projects
        width: 100%
        overflow-x: hidden
        .text
            width: 50em

    #pagination a:hover i
        color: $white

    .text
        padding: 1em
        width: $text-width
        margin: auto
        a
            +primary-link(true)
            text-decoration: none

    #testimonials .project-wrap:hover blockquote
        &:before, &:after
            color: $white

    .typeform-widget
        width: 100%
        height: 20em
        height: 20rem
