/* Typography */
$base-font-size: 20px
$base-line-height: 30px
+establish-baseline

$heading-font: 'Exo', sans-serif
$body-font: 'Roboto', sans-serif

body
    font-family: $body-font
    font-weight: 300
    letter-spacing: 0.02em

b
    font-weight: 500

#{headings()}
    font-family: $heading-font
    font-weight: 700

h1
    +adjust-font-size-to(56px)
h2
    +adjust-font-size-to(40px)
    font-style: italic

/* Colors */
// Named
$dark-gray: #4f4f4f
$light-gray: #9d9d9d
$white: #fff
$near-white: #ececec
$black: #000
$near-black: lighten($black, 20%)
$cyan: #4DFFE7
$green: #A3FF4D

// Semantic
$background-color: $dark-gray
$name-color: $cyan
$text-color: $near-black
$header-link: $green
$link: $black

// Project rows
$row-even: $cyan
$row-odd: $green

/* Media query variables */
$phone-min: 320px
$phone-max: 480px
$tablet-min: 481px
$tablet-max: 1024px
$desktop-min: 1025px
$large-screen-min: 1824px

/* Layout */
*
    +box-sizing(border-box)

body
    background: $background-color
    > div.project
        margin-bottom: 2em
        &:nth-child(even)
            background: $row-even
        &:nth-child(odd)
            background: $row-odd

.text
    padding: 5px
    color: $text-color

a[href]
    color: $link
    text-decoration: underline
    +single-transition(all, 0.2s, ease-out, 0)
    &:hover
        background: $near-white
        color: $text-color
        +single-transition(all, 0.2s, ease-out, 0)
        +border-radius(3px)

.header
    border: none
    margin: 100px 0
    a[href]
        color: $header-link
        &:hover
            background: $header-link
            color: $text-color
    div
        margin: 0 auto
        max-width: 32em
        vertical-align: middle
        p
            color: $near-white
            text-align: justify
            padding: 0 10px
            width: 100%
    h1
        text-align: center
        letter-spacing: 0.05em
        color: $name-color
        +text-shadow(rgba($white, 0.7) 1px 1px 0, rgba($black, 0.7) -1px -1px 0)
        margin-bottom: 0.4em

div[data-picture] 
    text-align: center
    > img
        width: 100%
        max-width: 100%
        position: relative

/* Hiding and displaying elements with media queries */
.hidden-phone
    @media screen and (max-width: $phone-max)
        display: none !important

.hidden-tablet
    @media screen and (min-width: $tablet-min) and (max-width: $tablet-max)
        display: none !important

.hidden-desktop
    @media screen and (min-width: $desktop-min)
        display: none !important

/* Tablets and larger screens */
@media screen and (min-width: $tablet-min)

    div.project
        display: table
        padding: 0
        .row
            display: table-row
            padding: 0
            > div
                display: table-cell
                vertical-align: middle
                &[data-picture]
                    width: 66%
                    padding: 0
                    &:nth-child(even)
                        text-align: right
                    img
                        margin-bottom: -7px
        .text
            padding: 10px

